# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DS Store
*.DS_Store

# fastMRI data
helper/data/

# Jupyter Notebook
.ipynb_checkpoints

# Checkpoints
.ckpt
ckpts/

# Environments
env/

# Image reconstructions
reconstructor/reconstructions_v*/
reconstructor/reconstructions/
reconstructor/predictions/

# Helpers
reconstructor/helper/
discriminator/helper/
sampler/helper/

# Powerpoint figures 
*.pptx
*.ppt

# Vim
*.swp

# Log files
*.log
lightning_logs/
discriminator/log/

# Amulet
.amltconfig
.amltignore
*.yaml
amlt/

# InnerEye
InnerEye/
InnerEye-DeepLearning/
